@model IEnumerable<HotelPrivado.Models.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<a href="/Panel/Panel">Regresar al Panel</a>
<p></p>

<h1>Alquiler</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEnt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedor.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Habitacion.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idAlquiler">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.idAlquiler">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.idAlquiler">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
